@tailwind base;
@tailwind components;
@tailwind utilities;


/* #idHead input:focus-visible{
    border: 1px solid white !important;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
    background-color: rgb(255, 255, 255);
    max-width: auto !important;
    overflow-x: hidden !important;
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
}


/* .notificationWrapper {
    @apply flex flex-row items-center justify-between w-96 bg-gray-900 px-4 py-6 text-white shadow-2xl hover:shadow-none transform-gpu translate-y-0 hover:translate-y-1 rounded-xl relative transition-all duration-500 ease-in-out;
  }
  
  .iconWrapper {
    @apply text-xl;
  }
  
  .contentWrapper {
    @apply flex flex-col items-start justify-center ml-4 cursor-default;
  }
  
  .contentWrapper h1 {
    @apply text-base text-gray-200 font-semibold leading-none tracking-wider;
  }
  
  .contentWrapper p {
    @apply text-sm text-gray-400 mt-2 leading-relaxed tracking-wider;
  }
  
  .closeIcon {
    @apply absolute top-2 right-2 cursor-pointer text-lg;
  }
 */



@media print {
  .offPrint {
     display:none;
  }
   /* .rdw-editor-wrapper .rdw-editor-toolbar {
    display:none;
  } */

  .quill{
    padding: 0 !important;
    border: none !important;
  }

  .quill .ql-toolbar{
    display: none !important;
  }

  .quill .ql-container {
    border: none !important;
    padding: 0 !important;
  }

  .quill .ql-editor {
    padding: 0 !important;
  }

  body{
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .pagebreak {
    /* clear: both; */
    /* page-break-after: always; */
    /* page-break-before: auto; */
  }

  div.divFooter {
    position: fixed;
    bottom: 0;
    background-color: beige;
    height: 30px;
    text-align: center;
    margin: auto;
  }

  @page {
    size: auto; 
    margin-top: 15mm ; 
    margin-bottom: 15mm ; 
  }

  a[href]:after {
    content: none !important;
}
}

@media screen {
  div.divFooter {
    display: none;
  }
}

/* .mobileHome::-webkit-scrollbar {
  display: none;
} */